* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-title {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.nav-title a {
    color: white;
    text-decoration: none;
}

.hamburger-menu {
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1001;
}

.nav-links {
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.side-menu-container {
    position: fixed;
    top: 0;
    right: -250px; /* hide off-screen initially */
    width: 250px;
    height: 100%;
    background-color: #333333d5;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    transition: right 0.3s ease;
    z-index: 1000;
}

.side-menu-container.open {
    right: 0; /* slide in */
}

.hamburger-menu.open {
    transform: translateZ(-180deg); /* to keep hamburger from shifting */

}

.nav-links .active {
    transform: translateX(-4px);
    color: white;
    font-weight: 600;
}

.nav-links a, li {
    color: white;
    margin-left: 1rem;
    padding: 5px 5px;
    margin: 0 auto;
    text-decoration: none;
    font-weight: 500;
    list-style-type: none;
    display: block;
  }
  
  .nav-links a:hover {
    transform: translateX(-4px);
  }

.loggedIn {
    display: none !important;
}

header {
    text-align: center;
    margin: 20px 0;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0.65;
    }
}

@keyframes bounceInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    60% {
        transform: translateX(-20px);
    }
    80% {
        transform: translateX(10px);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .hero-section, .hero-info-card {
        animation: slideIn linear both;
        animation-timeline: view();
        animation-range: 0% 100%;
    }
}

.header-card {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: bounceInRight 1s ease-in-out;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
    background-color: #f4f4f4;
    padding: 20px 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: bounceInRight 1.5s ease-in-out;
}

.hero-info-card {
    align-items: center;
    max-width: 800px;
    margin: 10px auto;
    background-color: #f4f4f4;
    padding: 20px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.hero-info-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.account-section {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    animation: fadeIn 0.5s ease-in-out;
}

.register-card, .login-card {
    flex: 1;
    margin: 20px auto;
    max-width: 40%;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.register-card h2, .login-card h2 {
    text-align: center;
    margin-bottom: 20px;
}

.register-card p, .login-card p {
    text-align: center;
    margin-bottom: 20px;
}

.register-card form, .login-card form {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.register-card input, .login-card input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.register-card button, .login-card button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.register-card button:hover, .login-card button:hover {
    background-color: #555;
}

.player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.player-info-container {
    display: flex;
    flex-direction: row;
}

.player-info-card {
    justify-content: space-between;
    width: 300px;
    min-width: fit-content;
    margin: 10px 10px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    text-align: left;
}

.player-info-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.stocks-container h3 {
    text-align: center;
    margin-bottom: 20px;
}

.stocks-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    max-width: 100%;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.stock-card {
    margin: 10px 10px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    text-align: left;
}

.stock-card-detail {
    margin: 10px 40px 10px 0px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    text-align: left;
}

.stock-card-detail:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.stock-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.stock-price {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.stock-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.stock-card a {
    text-decoration: none;
    color: #333;
}

.stockActionContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.player-info-stocks-held {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.holdings-title {
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    font-style: italic;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 10px;
    background: #F4F4F4;
    background: radial-gradient(circle, rgba(244, 244, 244, 0.5) 0%, rgba(61, 61, 61, 0.5) 100%);
}

.holdings-card {
    margin: 10px 10px;
    width: 10em;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    text-align: left;
}

.holdings-card p {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 0;
}


.holdings-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.stock-link {
    text-decoration: none;
    color: #000000;
}

.gameplay-section {
    display: flex;
    flex-direction: row;
    background-color: #f4f4f4;
}

.detail {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.detail:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.detail form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px 10px 10px;
}

.detail form input {
    margin: 10px 10px;
}

.detail button, .detail-dashboard button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.detail button:hover, .detail-dashboard button:hover {
    background-color: #555;
}

.stockDetailsContainer {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.stock-detail-card {
    display: inline-flex;
    flex-direction: column;
    width: 25rem;
    margin: 10px 10px 20px 10px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    text-align: center;
}

.stock-detail-card h3 {
    padding: 0px;
    margin: 20px 0px 0px 0px;
}

.stock-detail-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.stock-cards {
    justify-self: center;
}

.stock-dashboard-individual {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.dashboard-graph {
    display: flex;
    flex-direction: column;
    width: 100vh;
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.detail-dashboard-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 10px;
}

.detail-dashboard-outer-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.detail-dashboard-outer {
    width: 50vh;
    max-width: 300px;
    margin: 10px 10px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.detail-dashboard {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.detail-dashboard form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px 10px;
}

.profile-side-container {
    float: left;
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f4f4f427;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    margin: 10px;
}

.profile-image {
    text-align: center;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ccc;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.profile-details {
    margin-top: 20px;
    text-align: center;
}

.profile-user-detail {
    margin-top: 10px;
}

.profile-detail-top-trades {
    margin-top: 10px;
}

.profile-detail-top-trades-title {
    font-weight: bold;
}

.profile-detail-top-trades-list {
    list-style: none;
    padding: 0;
}

.profile-detail-top-trades-list li {
    margin: 5px 0;
}

.profile-stock-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    max-width: 50rem;
}

.profile-comment-wall {
    margin-top: 20px;
    padding: 20px;
}

.comment-wall {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f427;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    text-align: center;
    min-width: fit-content;
    max-width: 50%;

}

.comment-wall h2 {
    margin-bottom: 20px;
}

.comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-posts {
    margin-top: 20px;
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
}

.comment-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    resize: vertical;
    max-width: 600px;
    min-height: 100px;
    text-align: left;
}

.comment-form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.comment-form button:hover {
    background-color: #555;
    transform: translateY(-2px);
    transition: transform 0.2s ease;
}

.comment {
    margin: 20px auto;
    padding: 10px 0;
    max-width: 20rem;
    border-radius: 8px;
    background-color: #f4f4f427;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.comment:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.comment-item a {
    text-decoration: none;
    color: #333;
}

.comment-item a:hover {
    text-decoration: underline;
    color: #555;
    transform: translateY(-2px);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 10px 0;
    font-size: 14px;
}

@media screen and (max-width: 425px) {
    .hero-info-card {
        flex-direction: column;
        align-items: center;
    }

    .account-section {
        flex-direction: column;
    }

    .register-card, .login-card {
        max-width: 90%;
    }

    .player-info-container {
        flex-direction: column;
    }

    .player-info-card {
        width: 100%;
        margin: 10px 0;
    }

    .stocks-grid {
        flex-direction: column;
    }

    .stock-card {
        width: 100%;
        margin: 10px 0;
    }

    .stockActionContainer {
        display: flex;
        flex-direction: column;
    }

    .gameplay-section {
        display: inline-flex;
        flex-direction: row;
    }

    .detail {
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 10px 10px;
    }

    .dashboard-graph {
        max-width: 300px;
        padding: 0px;
    }


}